<div class="main-toolbar">
  <mat-toolbar class="app-toolbar">
    <span class="toolbar-title"
          (click)="navigateToItem(HOME_PAGE_ROUTE)">
        {{toolbarTitle}}
    </span>
    <span class="spacer"></span>

    <button mat-icon-button
            (click)="openDropdown()">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-form-field class="dropdown-form-field">
      <mat-select #toolbarDropdown
                  [(value)]="dropdownSelectedOption">
        <mat-option value="logout"
                    (click)="logoutUser()">
          Logout
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</div>
