$red-500: #f44336;
$blue-gray-50: #eceff1;
$blue-gray-100: #cfd8dc;
$blue-gray-900: #263238;

$white-color: #fff;
$white-color-54-opacity: rgba(255, 255, 255, .54);
$white-color-75-opacity: rgba(255, 255, 255, .75);
$white-color-85-opacity: rgba(255, 255, 255, .85);
$black-color: #000;
$disabled-button-text-color: rgba($black-color, .26);

$black-87-opacity: rgba($black-color, .87);
$black-54-opacity: rgba($black-color, .54);
$black-50-opacity: rgba($black-color, .5);
$black-38-opacity: rgba($black-color, .38);
$black-25-opacity: rgba($black-color, .25);

$default-page-margin: 8px;
$app-toolbar-z-index: 100;
$app-toolbar-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24), 0 0 1px 0 rgba(0, 0, 0, .12);
$app-toolbar-height: 64px;
